@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Caveat", cursive;
}
html,
body {
  height: 100%;
  background-color: #e2e8f0;
}

:root {
  --board-box-width: clamp(50px, 20vw, 200px);
  --board-gap: 10px;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
div.container {
  display: flex;
  gap: 20px;
  align-items: center;
}
div.board-container {
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: center;
}

div.board {
  aspect-ratio: 1;
  display: grid;
  grid: 1fr 1fr 1fr/ 1fr 1fr 1fr;
  gap: var(--board-gap);
  background-color: #94a3b8;
  width: calc(3 * var(--board-box-width)+ 2 * var(--board-gap));
  place-content: space-evenly;
  border-radius: 10px;
}

div.board-box {
  aspect-ratio: 1;
  width: var(--board-box-width);
  background-color: #334155;
  display: grid;
  place-content: center;
  font-size: calc(var(--board-box-width) * 0.75);
  border-radius: 10px;
  color: #f8fafc;
}

div.board-box.playable:hover {
  background-color: #1e293b;
}

div.board-box.playable:active {
  background-color: #020617;
}

h1.winner-bar {
  font-size: 6rem;
}
h1.title {
  font-size: 3rem;
}

button {
  padding: 10px 20px;
  border-radius: 3px;
  border: none;
  background-color: #9ca3af;
  font-size: 2rem;
}
